{% extends 'index.html' %}
{% block sidebar %}{% if article.sidebarimage %}{{ article.sidebarimage }}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block title %}{{ article.title|striptags }} // {{ super() }}{% endblock title %}

{% block og_metadata %}
    <!-- Article tags -->
    <meta property="og:title" content="{{ article.title }} // {{ SITENAME }}" />
    <meta property="og:description" content="{{ article.short_summary | escape }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
    {% if article.sidebarimage %}
        <meta property="og:image" content="{{ article.sidebarimage }}" />
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@io_exception">
    <meta name="twitter:creator" content="@io_exception">
    <meta name="twitter:title" content="{{ article.title }} // {{ SITENAME }}">
    <meta name="twitter:description" content="{{ article.short_summary | escape }}">
    {% if article.sidebarimage %}
        <meta name="twitter:image" content="{{ article.sidebarimage }}" />
    {% endif %}
    <!-- Article tags end -->

    {% if article.original_url %}
    <link rel="canonical" href="{{ article.original_url }}" />
    <meta name="robots" content="noindex" />
    {% endif %}
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments{% if not DEV %}.min{% endif %}.css">
{% endblock %}

{% block head_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".content").fitVids();
        });
    </script>
    {% if article and article.latex %}
        {{ article.latex }}
    {% endif %}
    {% if page and page.latex %}
        {{ page.latex }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="pure-u">
        <div class="content">
            <section class="post">


                <div id="top-head" class="content-subhead">
                    <div class="left"  style="float:left;">
                        <a href="/">HOME <i class="fa fa-home" aria-hidden="true"></i></a>
                        &middot; <a href="/pages/search.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                    <div class="right" style="float:right;">
                        <a href="/pages/colaboraciones.html"> Colaboraciones <i class="fa fa-microphone" aria-hidden="true"></i></a>
                        &middot; 
                        <a href="/books"> Reviews <i class="fa fa-book" aria-hidden="true"></i></a>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <header class="post-header">
                    <h1>{{ article.title }}</h1>
                        <p class="post-meta">
                            // tags {% for tag in article.tags %}
                                <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                            {% endfor %}
                        </p>
                </header>
            </section>
            {% if article.youtube %}<iframe src="https://www.youtube.com/embed/{{ article.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>{% endif %}
            {{ article.content }}
            <a href="#" class="go-top">Go Top</a>
            {% include 'disqus.html' %}
            {% include 'footer.html' %}
        </div>
    </div>
{% endblock  %}
