<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block og_metadata %}
    <meta property="og:description" content="{{ SITENAME }}, {{ TAGLINE }}" />
    <meta property="og:image" content="https://i.imgur.com/Bw0xa30.jpg" />
    <meta property="og:title" content="{{ SITENAME }} // {{ TAGLINE }}" />
    <meta property="og:url" content="{{ SITEURL }}" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@io_exception">
    <meta name="twitter:creator" content="@io_exception">
    <meta name="twitter:title" content="{{ SITENAME }} // {{ TAGLINE }}">
    <meta name="twitter:description" content="{{ SITENAME }}, {{ TAGLINE }}">
    <meta name="twitter:image" content="https://i.imgur.com/Bw0xa30.jpg" />
    <meta name="description" content="{% block meta_description %}{{ SITENAME }}, {{ TAGLINE }}{% endblock meta_description %}" />
    {% endblock og_metadata %}

    {% if FEED_ALL_ATOM %}
        <link rel="alternate"  href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" title="{{ SITENAME }} Full Atom Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" title="{{ SITENAME }} Full RSS Feed"/>
    {% endif %}
    {% if FEED_ATOM %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" title="{{ SITENAME }} Atom Feed"/>
    {% endif %}
    {% if FEED_RSS %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

    {% block head %}
        <title>{% block title %}{{ SITENAME }} // {{ TAGLINE }}{% endblock title %}</title>
    {% endblock head %}

    {% if FAVICON_URL %}
    <link href="{{ FAVICON_URL }}" rel="icon">
    {% endif %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css">
    <script src="https://kit.fontawesome.com/0271495296.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pure{% if not DEV %}.min{% endif %}.css">
    {% block head_css %}{% endblock %}
    <script async src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% block head_js %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-01LW6P3S4N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-01LW6P3S4N');
    </script>
</head>

<body>
    <div class="pure-g-r" id="layout">
        <div class="sidebar pure-u">
            <div class="cover-img" {% if COVER_IMG_URL -%}
                style="background-image: url('{% block sidebar %}{{ COVER_IMG_URL }}{% endblock %}')"
                {%- else -%}
                style="background: none repeat scroll 0% 0% #3D4F5D"
                {%- endif -%}>
                <div class="cover-body">
                    <header class="header">
                        <hgroup>
                            {% if PROFILE_IMG_URL %}
                            <img class="avatar" width="100px" src="{{ PROFILE_IMG_URL }}">
                            {% endif %}
                            <h1 class="brand-main"><a href="/">{{ SITENAME }}</a></h1>
                            <p class="tagline">{{ TAGLINE }}</p>
                            {% for title, link in MENUITEMS %}
                                <p class="links"><a href="{{ link }}">{{ title }}</a></p>
                            {% endfor %}
                            {% if DISPLAY_PAGES_ON_MENU %}
                            {% for page in PAGES %}
                                <p class="links"><a href="{{ SITEURL }}/pages/{{ page.slug }}">{{ page.title }}</a></p>
                            {% endfor %}
                            {% endif %}
                                <p class="social">
                            {% for title, link in SOCIAL %}
                                    <a href="{{ link }}">
                                        <i class="fa fa-{{ title }} fa-2x"></i>
                                    </a>
                            {% endfor %}
                                </p>
                            {% if OTHER_BLOGS %}
                            <div class="extra-links">
                                {% for title, link in OTHER_BLOGS %}
                                    <a target="_blank" class="tiny-link" title="{{title}}" href="{{ link }}">{{title}}</a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </hgroup>
                    </header>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    {% block footer_js %}{% endblock %}
    {% include 'analytics.html' %}
</body>
</html>
