<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block og_metadata %}
    <meta property="og:description" content="{% block meta_description %}{{ SITENAME }}, {{ TAGLINE }}{% endblock meta_description %}" />
    <meta property="og:image" content="https://i.imgur.com/Bw0xa30.jpg" />
    <meta property="og:title" content="{{ SITENAME }} // {{ TAGLINE }}" />
    <meta property="og:url" content="{{ SITEURL }}" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@io_exception">
    <meta name="twitter:creator" content="@io_exception">
    <meta name="twitter:title" content="{{ SITENAME }} // {{ TAGLINE }}">
    <meta name="twitter:description" content="{{ SITENAME }}, {{ TAGLINE }}">
    <meta name="twitter:image" content="https://i.imgur.com/Bw0xa30.jpg" />
    {% endblock og_metadata %}

    {% if FEED_ALL_ATOM %}
        <link rel="alternate"  href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" title="{{ SITENAME }} Full Atom Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" title="{{ SITENAME }} Full RSS Feed"/>
    {% endif %}
    {% if FEED_ATOM %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" title="{{ SITENAME }} Atom Feed"/>
    {% endif %}
    {% if FEED_RSS %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

    {% block head %}
        <title>{% block title %}{{ SITENAME }} // {{ TAGLINE }}{% endblock title %}</title>
    {% endblock head %}

    {% if FAVICON_URL %}
    <link href="{{ FAVICON_URL }}" rel="icon">
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pure.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/tags.css">
    {% block head_css %}{% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% block head_js %}{% endblock %}
</head>

<body>
    <div class="pure-g-r" id="layout">
        <div class="sidebar pure-u">
            <div class="cover-img" {% if COVER_IMG_URL -%}
                style="background-image: url('{% block sidebar %}{{ COVER_IMG_URL }}{% endblock %}')"
                {%- else -%}
                style="background: none repeat scroll 0% 0% #3D4F5D"
                {%- endif -%}>
                <div class="cover-body">
                    <header class="header">
                        <hgroup>
                            {% if PROFILE_IMG_URL %}
                            <img class="avatar" src="{{ PROFILE_IMG_URL }}">
                            {% endif %}
                            <h1 class="brand-main"><a href="/">{{ SITENAME }}</a></h1>
                            <p class="tagline">{{ TAGLINE }}</p>
                            {% for title, link in MENUITEMS %}
                                <p class="links"><a href="{{ link }}">{{ title }}</a></p>
                            {% endfor %}
                            {% if DISPLAY_PAGES_ON_MENU %}
                            {% for page in PAGES %}
                                <p class="links"><a href="{{ SITEURL }}/pages/{{ page.slug }}">{{ page.title }}</a></p>
                            {% endfor %}
                            {% endif %}
                                <p class="social">
                            {% for title, link in SOCIAL %}
                                    <a href="{{ link }}">
                                        <i class="fa fa-{{ title }} fa-3x"></i>
                                    </a>
                            {% endfor %}
                                </p>
                            {% if OTHER_BLOGS %}
                            <div class="extra-links">
                                {% for title, link in OTHER_BLOGS %}
                                    <a target="_blank" class="tiny-link" title="{{title}}" href="{{ link }}">{{title}}</a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </hgroup>
                    </header>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@5"></script>
    {% block footer_js %}{% endblock %}
    <script>
        var $top = $('.go-top');

        // Show or hide the sticky footer button
        $(window).scroll(function() {
            if ($(this).scrollTop() > 200) {
                $top.fadeIn(200);
            } else {
                $top.fadeOut(200);
            }
        });

        // Animate the scroll to top
        $top.click(function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, 300);
        })

        // Makes sure that the href="#" attached to the <a> elements
        // don't scroll you back up the page.
        $('body').on('click', 'a[href="#"]', function(event) {
            event.preventDefault();
        });

        document.addEventListener("DOMContentLoaded", function() {
            let arr = Array.from(document.querySelectorAll(".tag"));
            let colors = {
                "csharp": "#3C8A3F",
                "python": "#356B98",
                "nlp": "#32A69C",
                "data-science": "#8941B3"
            }
            let mySet = new Set(Object.keys(colors));
            var totalTags = 0;

            arr.forEach(function (item, index) {
                if(mySet.has(item.dataset["tag"])) {
                    totalTags += parseInt(item.dataset["count"])
                    item.style.display ="inline-block";
                }
            });

            arr.forEach(function (item, index) {
                let tag = item.dataset["tag"];
                if(mySet.has(tag)) {
                    let postCount = parseInt(item.dataset["count"])
                    let percentage = postCount / totalTags * 100;
                    item.setAttribute("data-tippy-content", postCount + " posts in " + tag + " (" + Math.trunc(percentage) + "%)");
                    item.style.width = percentage + "%";
                    item.style.display ="inline-block";
                    item.style.visibility ="visible";
                    item.style.backgroundColor = colors[tag];
                }
                else {
                    item.parentNode.removeChild(item);
                }
            });

            tippy('[data-tippy-content]');
        });

    </script>
    {% include 'analytics.html' %}
</body>
</html>
