{% extends 'index.html' %}
{% block sidebar %}{% if item.sidebarimage %}{{ item.sidebarimage }}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block title %}{{ item.title|striptags }} // {{ SITENAME }}{% endblock title %}

{% block og_metadata %}
    <!-- Item tags -->
    <meta property="og:title" content="{{ item.title }} // {{ SITENAME }}" />
    <meta property="og:description" content="{{ item.short_summary | escape }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ item.url }}" />
    {% if item.sidebarimage %}
        <meta property="og:image" content="{{ item.sidebarimage }}" />
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@io_exception">
    <meta name="twitter:creator" content="@io_exception">
    <meta name="twitter:title" content="{{ item.title }} // {{ SITENAME }}">
    <meta name="twitter:description" content="{{ item.short_summary | escape }}">
    {% if item.sidebarimage %}
        <meta name="twitter:image" content="{{ item.sidebarimage }}" />
    {% endif %}
    <!-- Item tags end -->
    <meta name="description" content="{{ item.short_summary | escape }}">
{% endblock %}

{% block content %}
<div class="pure-u">
    <div class="content">
        <section class="post">
            {% include 'header.html' %}

            <header class="post-header">
                <h1>{{ item.title }}</h1>
                <p class="post-meta">
                    Author: {{ item.author }} &middot; ISBN: {{ item.isbn }}
                </p>
            </header>
        </section>
        {{ item.content }}
        <a href="#" class="go-top">Go Top</a>
        {% include 'disqus.html' %}
        {% include 'footer.html' %}
    </div>
</div>
{% endblock %}
