{% extends 'base.html' %}

{% block title %}{{ collection_name }} // {{ SITENAME }}{% endblock title %}

{% block content %}
    <div class="pure-u">
        <div class="content">
            <div class="posts">
                {% include 'header.html' %}
                <header class="post-header">
                    <h1>{{ collection_name }}</h1>
                </header>
                {% for item in collection %}
                    <section class="post">
                        <header class="post-header">
                            <h3><a class="post-title" href="{{ SITEURL }}/{{ item.url }}">{{ item.title }}</a></h3>
                            <p>
                                {{ item.short_summary }}
                            </p>
                        </header>
                    </section>
                {% endfor %}
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock content %}