<div id="top-head" class="content-subhead">
    <div class="left"  style="float:left;">
        <a href="/">HOME <i class="fa fa-home" aria-hidden="true"></i></a>
        &middot; <a href="/pages/search.html"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
    <div class="right" style="float:right;">
        <a href="/pages/colaboraciones.html"> Colaboraciones <i class="fa fa-microphone" aria-hidden="true"></i></a>
        &middot; 
        <a href="/books"> Reviews <i class="fa fa-book" aria-hidden="true"></i></a>
    </div>
    <div style="clear: both;"></div>
</div>
