{% extends 'base.html' %}

{% block title %}{% if articles_page %}{% if articles_page.number == 1 %}{{ SITENAME }} // {{ TAGLINE }}{% else %}{{ SITENAME }} - Page {{ articles_page.number }}{% endif %}{% else %}{{ SITENAME }}{% endif %}{% endblock title %}


{% block og_metadata %}
<meta property="og:description" content="{% if articles_page %}{{ SITENAME }} // page {{ articles_page.number }}{% else %}{{ SITENAME }} – Untitled Page{% endif %}" />
<meta property="og:image" content="https://i.imgur.com/Bw0xa30.jpg" />
<meta property="og:title" content="{% if articles_page %}{% if articles_page.number == 1 %}{{ SITENAME }} // {{ TAGLINE }}{% else %}{{ SITENAME }} - Page {{ articles_page.number }}{% endif %}{% else %}{{ SITENAME }} – Untitled Page{% endif %}" />
<meta property="og:url" content="{{ SITEURL }}" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@io_exception">
<meta name="twitter:creator" content="@io_exception">
<meta name="twitter:title" content="{% if articles_page %}{% if articles_page.number == 1 %}{{ SITENAME }} // {{ TAGLINE }}{% else %}{{ SITENAME }} - Page {{ articles_page.number }}{% endif %}{% else %}{{ SITENAME }} – Untitled Page{% endif %}">
<meta name="twitter:description" content="{% if articles_page %}{{ SITENAME }} // page {{ articles_page.number }}{% else %}{{ SITENAME }} – Untitled Page{% endif %}">
<meta name="twitter:image" content="https://i.imgur.com/Bw0xa30.jpg" />
<meta name="description" content="{% if articles_page %}{{ SITENAME }} // page {{ articles_page.number }}{% else %}{{ SITENAME }} – Untitled Page{% endif %}" />
{% endblock og_metadata %}

{% block content %}
    <div class="pure-u">
        <div class="content">
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <div id="top-head" class="content-subhead">
                    <div class="left"  style="float:left;">
                        {% block pagetitle %}
                            {% if not articles_page.has_previous() %}
                                Publicaciones más recientes
                            {% else %}
                                Publicaciones
                            {% endif %}
                        {% endblock pagetitle %}
                        {% if articles_page.has_previous() %}
                            &ndash; Página&nbsp;{{ articles_page.number }}
                        {% endif %}
                        &middot; <a href="/pages/search.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                    <div class="right" style="float:right;">
                        <a href="/pages/colaboraciones.html"> Colaboraciones <i class="fa fa-microphone" aria-hidden="true"></i></a>
                        &middot; 
                        <a href="/books"> Reviews <i class="fa fa-book" aria-hidden="true"></i></a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                {% for article in articles_page.object_list %}
                    {# Include's latex math only if an article in the index has it present #}
                    {% if article and article.latex and latex is not defined %}
                        {% set latex = True %}
                        {{ article.latex }}
                    {% endif %}
                    <section class="post">
                        <header class="post-header">
                            {% if article.original_url %}
                                <h3>
                                    <a class="post-title" target="_blank" href="{{ article.original_url }}">{{ article.title }}
                                        <small style="font-size: small;"><i class="fas fa-external-link-alt"></i></small></a>
                                </h3>
                            {% else %}
                                <h3><a class="post-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                            {% endif %}
                            <p>
                                {{ article.short_summary }} &middot;
                                {% if article.original_url %}
                                <span class="post-meta" data-site="{{ article.original_url | hostname }}">Publicado <a href="{{ article.original_url }}">originalmente en {{ article.original_url | hostname }}</a> el</span>
                                {% endif %}
                                <span class="post-meta">{{ article.locale_date }}.</span>
                            </p>
                        </header>
                    </section>
                {% endfor %}
                {% include 'pagination.html' %}
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock content %}
