{% extends 'base.html' %}

{% block content %}
    <div class="pure-u">
        <div class="content">
            <!-- A wrapper for all the blog posts -->
            {% include 'language_bars.html' %}
            <div class="posts">
                <h1 class="content-subhead">
                    {% block pagetitle %}
                        {% if not articles_page.has_previous() %}
                            Latest posts
                        {% else %}
                            Posts
                        {% endif %}
                    {% endblock pagetitle %}
                    {% if articles_page.has_previous() %}
                        &ndash; Page&nbsp;{{ articles_page.number }}
                    {% endif %}
                    &middot; <a href="/pages/search.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                </h1>
                {% for article in articles_page.object_list %}
                    {# Include's latex math only if an article in the index has it present #}
                    {% if article and article.latex and latex is not defined %}
                        {% set latex = True %}
                        {{ article.latex }}
                    {% endif %}
                    <section class="post">
                        <header class="post-header">
                            <h3><a class="post-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                            <p>
                                {{ article.short_summary }} &middot;
                                {% if article.original_url %}
                                <span class="post-meta" data-site="{{ article.original_url | hostname }}">Originally <a href="{{ article.original_url }}">posted to {{ article.original_url | hostname }}</a> on</span>
                                {% endif %}
                                <span class="post-meta">{{ article.locale_date }}.</span>
                            </p>
                        </header>
                    </section>
                {% endfor %}
                {% include 'pagination.html' %}
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock content %}
