
div.tags {
  width: 100%;
  margin: -3px 0px 0px 0px;
}
a.tag{
  height: 15px;
  margin:0;
  padding:0;
  position:relative;
  display: none;
  visibility: hidden;
}
a.tag:last-child{
  border-radius: 0px 0px 5px 0px;
}
a.tag:first-child{
  border-radius: 0px 0px 0px 5px;
}
a.tag:hover{
  text-decoration: none;
}

  /*  */
.extra-links {
  color: white;
  font-size: 80%;
  margin-bottom: 10px;
}

.extra-links a {
  color: white;
  text-decoration: none;
}

.extra-links a:not(:last-child):after {
  content: " \2022";
}

/**/

.navs {
  padding: 0;
}

.navs ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap; /* assumes you only want one row */
  margin: 0
}

.navs ul li {
  width: 100%;
  text-align: center;
  padding-top: 3px;
}

.navs ul li a {
  width: 100%;
  text-align: center;
  color: black;
}

.navs ul{
  width: 100%;
  text-align: center;
  padding: 3px 0 0 0;
}

.navs ul li:last-child{
  border-radius: 0px 5px 0px 0px;
}
.navs ul li:first-child{
  border-radius: 5px 0px 0px 0px;
}

.navs ul li.youtube {
  background-color: #ff0000;
  color: #fafafa;
}
.navs ul li.youtube a {
  color: #fafafa;
}

.navs ul li.twitter {
  background-color: #55acee;
  color: #ffffff;
}
.navs ul li.twitter a {
  color: #ffffff;
}

.navs ul li.tcsg {
  background-color: #eeeef2;
  color: #424242;
}
.navs ul li.tcsg a {
  color: #424242;
}

.navs ul li.kodekai {
  background-color: #f8e71c;
  color: #b50218;
}
.navs ul li.kodekai a {
  color: #b50218;
}